/* Typography */
h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 48px;
  font-weight: 600;
  color: #333333;
  margin: 0;
  padding: 20px 0;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #333333;
  margin: 0;
  padding: 10px 0;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #666666;
}

/* Layout */
.login-form {
  max-width: 500px;
  margin: 0 auto;
}

.login-form input[type="text"], .login-form input[type="password"] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.login-form button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: blueviolet;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #333333;
  text-align: center;
  margin: 0;
  padding: 0;
}

nav.nav-menu {
  display: flex;
  align-items: center;
}

nav.nav-menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav.nav-menu li {
  margin: 0 20px;
}

nav.nav-menu a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  font-weight: bold;
}


header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  background-color: #fff;
  border-bottom: 1px solid #ebebeb;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header h1 {
  color: #ffffff;
}

section {
  padding: 50px 0;
}

section h2 {
  font-size: 32px;
  font-weight: 600;
  color: #333333;
}

section.user-login {
  display: flex;
  align-items: center;
}

section.user-login h2 {
  margin-right: 10px;
}

section.user-login form {
  display: flex;
  margin: 0;
}

section.user-login label {
  display: block;
  margin-right: 10px;
  font-size: 16px;
  font-weight: bold;
}

section.user-login input[type="text"], section.user-login input[type="password"] {
  padding: 5px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-right: 10px;
}

section.user-login input[type="submit"] {
  background-color: #ff9021;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  padding: 5px 20px;
  cursor: pointer;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 1px solid #f5f5f5;
  border-radius: 4px;
}

.product-card img {
  max-width: 100%;
}

.product-card h3 {
  font-size: 20px;
  font-weight: 600;
  color: #333333;
  margin: 20px 0 10px;
}

.product-card p {
  font-size: 18px;
  font-weight: 600;
  color: #ff4500;
  margin: 10px 0 20px;
}

/* Color */
a {
  color: #333333;
  text-decoration: none;
}

a:hover {
  color: #ff4500;
}

button {
  background-color: #ff4500;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

button:hover {
  background-color: #f63b00;
}
